.representationContainer {
  height: 200px;
}

.representationItem {
  width: 50px;
  margin: 10px;
}

.representationItem.highlight.regular {
  background-color: #fafafa;
}

.representationItem.highlight.regular:hover {
  background-color: #ffffff;
}

.representationItem.highlight.compare {
  background-color: #519351;
}

.representationItem.highlight.compare:hover {
  background-color: #51a351;
}

.representationItem.highlight.active {
  background-color: #bd362f;
}

.representationItem.highlight.active:hover {
  background-color: #dd362f;
}

.representationItem.highlight.static {
  background-color: #323232;
}

.representationItem.highlight.static:hover {
  background-color: #424242;
}

.representationItem.highlight.accent {
  background-color: #f89406;
}

.representationItem.highlight.accent:hover {
  background-color: #ffa406;
}
